// contrast-icon
.contrast-icon {
    width: 32px;
    height: 32px;
    fill: $darkgrey;
    opacity: 0.3;
    @media (min-width: $tablet-width) {
        width: 16px;
        height: 16px;
        fill: $pink;
        opacity: 1;
    }
    @media (min-width: $desktop-width) {
        width: 32px;
        height: 32px;
    }
}
