            // fill-icon
            .fill-icon {
                width: 48px;
                height: 43px;
                fill: $darkgrey;
                opacity: 0.3;
                @media (min-width: $tablet-width) {
                    width: 24px;
                    height: 22px;
                    fill: $pink;
                    opacity: 1;
                }
                @media (min-width: $desktop-width) {
                    width: 48px;
                    height: 43px;
                }
            }
