// Form-block
.form-block__form {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet-width) {
        margin-bottom: 50px;
    }
    @media (min-width: $desktop-width) {
        margin: 0 auto;
        max-width: 940px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.form-block__content {
    display: block;
    max-width: 280px;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    padding: 44px 0 34px;
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        max-width: 490px;
        font-size: 18px;
        padding: 91px 0 74px;
    }
    @media (min-width: $desktop-width) {
        max-width: 756px;
        padding: 91px 0 66px;
    }
}

.form-block__text-hidden {
    display: none;
    @media (min-width: $tablet-width) {
        display: inline-block;
    }
}

.form-block__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-block__item {
    font-size: 18px;
    line-height: 30px;
}

.contact-input__label {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $pink;
}

.contact-input__input {
    font-size: 18px;
    line-height: 30px;
    color: $darkgrey;
    padding: 15px 20px;
    border: 2px solid $borderGrey;
    border-radius: 1px;
    cursor: pointer;
    outline: none;
}

.contact-input__input:hover,
.contact-input__input:focus {
    border-color: $darkgrey;
    transition: all .3s ease;
}

.contact-input__input:active {
    border-color: $pink;
}

.form-block__legend {
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $pink;
    text-align: center;
    @media (min-width: $tablet-width) {
        line-height: 30px;
    }
}

.form-block__form-color {
    background-color: $lightgrey;
    @media (min-width: $tablet-width) {
        background-color: $white;
    }
}

.legen-hidden {
    display: none;
    @media (min-width: $tablet-width) {
        display: block;
    }
}

.form-block__fieldset {
    padding: 0;
    margin: 0;
    border: none;
    @media (min-width: $tablet-width) {
        display: block;
        border: 2px solid $borderGrey;
        border-radius: 1px;
    }
}

.form-block__legend {
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        padding: 0 31px;
    }
}

.form-block__attention-content {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 33px 0 21px 0;
    @media (min-width: $tablet-width) {
        margin: 0;
    }
}

.form-block__attention-hidden {
    display: none;
    @media (min-width: $desktop-width) {
        display: inline-block;
    }
}

.form-block__attention-star {
    color: $pink;
}
