// form-block__form-textarea
.form-block__form-textarea {
    padding: 0 20px;
    margin: 38px 0 45px;
    @media (min-width: $tablet-width) {
        order: 5;
        margin: 52px 0 65px;
    }
    @media (min-width: $desktop-width) {
        padding: 0;
        width: 940px;
        margin: 52px 0 62px;
    }
}

.form-block__legend-textarea {
    margin: 0 auto 16px;
    @media (min-width: $tablet-width) {
        margin-bottom: 32px;
    }
    @media (min-width: $desktop-width) {
        margin-bottom: 27px;
    }
}

.form-block__textarea-input {
    font-size: 18px;
    line-height: 30px;
    color: $darkgrey;
    padding: 15px 20px;
    border: 2px solid $borderGrey;
    border-radius: 1px;
    cursor: pointer;
    outline: none;
}

.form-block__textarea-input:hover,
.form-block__textarea-input:focus {
    border-color: $darkgrey;
    transition: all .3s ease;
}

.form-block__textarea-input:active {
    border-color: $pink;
}

.form-block__textarea-input--center {
    width: 100%;
    min-height: 200px;
    padding: 13px 0 0 20px;
    @media (min-width: $tablet-width) {
        min-height: 189px;
        width: 496px;
        margin: 0 60px 51px;
    }
    @media (min-width: $desktop-width) {
        width: 820px;
        min-height: 124px;
        margin: 0 60px 44px;
    }
}
