//form-block__form-checkbox
.form-block__form-checkbox {
    padding: 40px 20px 0;
    @media (min-width: $tablet-width) {
        order: 4;
    }
    @media (min-width: $desktop-width) {
        padding: 36px 0 0;
        width: 940px;
    }
}

.form-block__list--checkbox {
    @media (min-width: $desktop-width) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        margin-bottom: 8px;
        grid-column-gap: 96px;
        margin-left: 117px;
    }
}

.item-checkbox-center {
    @media (min-width: $desktop-width) {
        transform: translate(10px);
    }
}

.legend-checkbox {
    max-width: 218px;
    margin: 0 auto 42px;
    @media (min-width: $tablet-width) {
        max-width: 100%;
    }
}

.form-block__item-checkbox {
    margin: 0 0 52px 59px;
    @media (min-width: $tablet-width) {
        margin: 0 0 52px 117px;
    }
    @media (min-width: $desktop-width) {
        margin: 0 0 52px 0;
    }
}

.form-block__item-checkbox:last-child {
    margin-bottom: 47px;
    @media (min-width: $tablet-width) {
        margin-bottom: 53px;
    }
    @media (min-width: $desktop-width) {
        margin-bottom: 0;
    }
}

.form-block__input-checkbox+label {
    position: relative;
}

.form-block__input-checkbox+label::before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    top: -5px;
    left: -57px;
    border: 2px solid $borderGrey;
    border-radius: 1px;
    background-color: $white;
}

.form-block__input-checkbox:checked+label::after {
    content: '';
    background-image: url(../img/tick.svg);
    position: absolute;
    width: 22px;
    height: 16px;
    left: -50px;
    top: 4px;
}
