//form-contacts-phone{
.form-contacts-phone {
    margin: 32px 0 41px;
    padding: 0 20px;
    @media (min-width: $tablet-width) {
        order: 3;
        margin: 0 0 13px;
    }
    @media (min-width: $desktop-width) {
        width: 940px;
        padding: 0;
    }
}

.contact-input-phone-block {
    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
    }
}

.form-block__legend--phone {
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        margin-bottom: 27px;
    }
}

.contact-input-phone {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
}

.contact-input-phone::before {
    @media (min-width: $tablet-width) {
        content: '';
        position: absolute;
        display: block;
        width: 60px;
        height: 60px;
        background-color: $borderGrey;
        right: 62px;
        top: 2px;
    }
    @media (min-width: $desktop-width) {
        right: 2px;
    }
}

.contact-input--user-phone {
    @media (min-width: $tablet-width) {
        position: relative;
    }
}

.contact-input--user-phone::after {
    @media (min-width: $tablet-width) {
        content: '';
        background-image: url(../img/phone-icon.svg);
        position: absolute;
        width: 20px;
        height: 19px;
        right: 80px;
        top: 23px;
    }
    @media (min-width: $desktop-width) {
        right: 21px;
    }
}

.contact-input--user-email {
    @media (min-width: $tablet-width) {
        position: relative;
    }
}

.contact-input--user-email::after {
    @media (min-width: $tablet-width) {
        content: '';
        background-image: url(../img/mail-icon.svg);
        position: absolute;
        width: 18px;
        height: 13px;
        right: 80px;
        top: 25px;
    }
    @media (min-width: $desktop-width) {
        right: 21px;
    }
}

.contact-input-phone:last-child {
    margin-bottom: 0;
    @media (min-width: $tablet-width) {
        margin-bottom: 18px;
    }
    @media (min-width: $desktop-width) {
        margin-bottom: 0;
    }
}

.contact-input__label--phone {
    margin: 0 0 5px 22px;
    @media (min-width: $tablet-width) {
        order: 2;
        margin: 10px 0 10px 77px;
    }
    @media (min-width: $desktop-width) {
        margin: 9px 0 0 17px;
    }
}

.contact-input__input--phone {
    @media (min-width: $tablet-width) {
        order: 1;
        margin: 0 60px;
    }
    @media (min-width: $desktop-width) {
        margin: 0;
        width: 375px;
    }
}
