// hamburger-menu
.hamburger-menu-button {
    width: 23px;
    height: 23px;
    border: none;
    padding: 0;
    background-color: transparent;
}

.hamburger-menu-button__close-menu-btn {
    height: 23px;
    width: 23px;
    fill: $white;
}
