// Header

.header {
  background-color: $bg-header;
  position: fixed;
  z-index: 100;
  width: 100%;

  &__inner {
    padding: 0 20px;
    min-height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet-width) {
      min-height: 110px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 130px;
    }
  }
}

.header__logo img{
  color: $pink;
}

.header__logo img {
  width: 74x;
  height: 23px;
  position: relative;
  z-index: 101;

@media (min-width: $tablet-width) {
    width: 145px;
    height: auto;
  }

@media (min-width: $desktop-width) {
    width: 147px;
    margin-bottom: 17px;
  }
}




