// Header

.header {
  background-color: $bg-header;
  position: absolute;
  z-index: 100;
  width: 100%;
  &__inner {
    padding: 0 20px;
    min-height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet-width) {
      min-height: 110px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 130px;
    }
  }
}

.main-nav__wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__logo img {
  width: 74x;
  height: 23px;

@media (min-width: $tablet-width) {
    width: 145px;
    height: auto;
  }

@media (min-width: $desktop-width) {
    width: 147px;
  }
}


.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-list__item {
  list-style-type: none;

  @media (min-width: $desktop-width) {
      margin-left: 78px;
  }
}


.site-list__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
  }
}

.site-list__link--active {
  border-bottom: 2px solid $lightgrey;
  padding-bottom: 8px;
}


