// Intro

.intro {
  background: $bg-grey;
  position: relative;

}

.itro__slogan {
  height: 462px;
  background-image: url(../img/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-position: center bottom ;
  background-size: cover;

  @media (min-width: $tablet-width) {
    height: 728px;
    background-image: url(../img/bg-intro-tablet.jpg);
  }

  @media (min-width: $desktop-width) {
    height: 853px;
    background-image: url(../img/bg-intro-desktop.jpg);
  }
}



.itro__slogan-content {
  text-align: center;
  margin: 0 auto;
  padding-top: 91px;
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  max-width: 280px;


  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    max-width: 240px;
    position: absolute;
    left: 50px;
    top: 203px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    left: 160px;
    top: 210px;
  }
}

.into__block-icon {
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    left: 110px;
    bottom: 82px;
  }
}


.block-icon__link {
  margin-top: 28px;
  margin-bottom: 32px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  border: 3px solid $white;
  border-radius: 29px;
  padding: 16px 35px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
    padding: 16px 43px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    padding: 16px 28.5px;
    margin-bottom: 68px;
  }
}

.block-icon__link:hover {
  background-color: $white;
  color: $pink;
  transition: all .5s ease;
}

.block-icon__link:active {
  background-color: $white;
  color: $light-pink;
}

.block-icon__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.block-icon__item {
  list-style-type: none;
  margin-right: 35px;
  margin-bottom: 20px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.block-icon__item:last-child {
  margin-right: 0;
}

.block-icon__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  padding-bottom: 31px;
  margin: 0;

  @media (min-width: $tablet-width) {
  font-size: 18px;
  line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
  }
}
