// Intro-form

.intro-form {
  min-height: 237px;
  background-image: url(../img/bg-intro-form-mobile.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: $darkgrey;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/bg-intro-form-mobile@2x.png);
  }

  @media (min-width: $tablet-width) {
    min-height: 440px;
    background-image: url(../img/form-bg-tablet.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/form-bg-tablet@2x.jpg);
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 394px;
    background-image: url(../img/form-bg-desktop.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/form-bg-desktop@2x.jpg);
    }
  }
}



.intro__title {
  display: block;
  margin: 0 auto;
  max-width: 228px;
  padding-top: 94px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    max-width: 600px;
    padding-top: 177px;
  }
  @media (min-width: $desktop-width) {
    max-width: 747px;
    padding-top: 170px;
  }
}
