//post__block-button
.post__block-button {
    display: flex;
    flex-direction: column;
    margin: 35px 0 40px;
    @media (min-width: $tablet-width) {
        margin: 60px 0 0;
        transform: translateY(10px);
    }
    @media (min-width: $desktop-width) {
        flex-direction: row;
        align-items: center;
        margin: 156px 0 0;
    }
}

.post__button {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding: 16px 88px;
    border-radius: 30px;
    margin: 0;
    @media (min-width: $tablet-width) {
        width: 260px;
        text-align: center;
        padding: 16px 0;
        margin-left: 27px;
    }
    @media (min-width: $desktop-width) {
        width: 183px;
        margin-left: 0;
    }
}

.post__button--activ {
    margin-bottom: 12px;
    border: 3px solid $pink;
    color: $pink;
    @media (min-width: $tablet-width) {
        margin-bottom: 24px;
    }
    @media (min-width: $desktop-width) {
        margin-bottom: 0;
    }
}

.post__button--activ:hover {
    background-color: $pink;
    color: $white;
    transition: all .3s ease;
}

.post__button--activ:active {
    color: rgba(255, 255, 255, 0.3);
}

.post__button--inactive {
    border: 3px solid $borderLightgrey;
    color: $borderLightgrey;
    @media (min-width: $desktop-width) {
        transform: translate(48px);
    }
}

.post__button--inactive:hover {
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3);
    transition: all .3s ease;
}

.post__button--inactive:active {
    color: rgba(40, 54, 69, 0.3);
    background-color: rgba(40, 54, 69, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border: none;
}
