//post__block-inputs
.post__block-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (min-width: $tablet-width) {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.post__block-inputs::after {
    content: '';
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: $borderLightgrey;
    bottom: 0;
    left: -20px;
    display: block;
    @media (min-width: $tablet-width) {
        display: none;
    }
}

.post__block-input {
    margin-right: 35px;
    padding: 42px 0 75px;
    position: relative;
    @media (min-width: $tablet-width) {
        display: flex;
        align-items: center;
        margin-right: 0;
        padding: 25px 0;
    }
    @media (min-width: $desktop-width) {
        padding: 15px 0;
    }
}

.post__block-input:first-child {
    @media (min-width: $tablet-width) {
        padding-top: 0;
    }
}

.post__block-input:last-child {
    @media (min-width: $desktop-width) {
        padding-bottom: 0;
    }
}

.post__block-input::after {
    content: '';
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: $borderLightgrey;
    bottom: 0;
    left: -20px;
    display: none;
    @media (min-width: $tablet-width) {
        display: block;
    }
    @media (min-width: $desktop-width) {
        width: 410px;
    }
}

.post__block-input:last-child:after {
    @media (min-width: $desktop-width) {
        display: none;
    }
}

.post__input--active {
    position: absolute;
    left: -24px;
    bottom: 39px;
    @media (min-width: $tablet-width) {
        position: relative;
        left: 0;
        bottom: 0;
    }
}

.post__block-picture {
    cursor: pointer;
    &:hover {
        fill: $darkgrey;
        opacity: 0.5;
        transition: all .3s ease;
    }
    &:active {
        fill: $pink;
        opacity: 1;
    }
    @media (min-width: $tablet-width) {
        margin-right: 20px;
    }
    @media (min-width: $desktop-width) {
        margin-right: 45px;
    }
}

.crop-icon {
    width: 44px;
    height: 44px;
    fill: $pink;
    @media (min-width: $tablet-width) {
        width: 22px;
        height: 22px;
    }
    @media (min-width: $desktop-width) {
        width: 44px;
        height: 44px;
    }
}

.fill-icon {
    width: 48px;
    height: 43px;
    fill: $darkgrey;
    opacity: 0.3;
    @media (min-width: $tablet-width) {
        width: 24px;
        height: 22px;
        fill: $pink;
        opacity: 1;
    }
    @media (min-width: $desktop-width) {
        width: 48px;
        height: 43px;
    }
}

.contrast-icon {
    width: 32px;
    height: 32px;
    fill: $darkgrey;
    opacity: 0.3;
    @media (min-width: $tablet-width) {
        width: 16px;
        height: 16px;
        fill: $pink;
        opacity: 1;
    }
    @media (min-width: $desktop-width) {
        width: 32px;
        height: 32px;
    }
}

.block-input__icon--inactive {
    color: $darkgrey;
}

.post__block-input:last-child {
    margin-right: 0;
}

.post__input--hidden {
    display: none;
    @media (min-width: $tablet-width) {
        display: block;
    }
}
