// Price

.price {
  background-color: $lightgrey;
}

.price__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1104px;
  transform: translate(-530px, 0);
  padding: 81px 0 45px;

  @media (min-width: $tablet-width) {
    transform: translate(0, 0);
    width: 620px;
    margin: 0 auto;
    padding: 114px 0 70px;
  }

	@media (min-width: $desktop-width) {
    width: 940px;
    padding: 160px 0 98px;
  }
}

.price__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $borderGrey;
  height: 96px;

  @media (min-width: $tablet-width) {
    height: 77px;
  }

	@media (min-width: $desktop-width) {
    height: 96px;
  }
}

.price__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  margin: 0;
  width: 276px;
  height: 61px;
  border: 2px solid $borderGrey;

  @media (min-width: $tablet-width) {
    height: 47px;
    width: 155px;
  }

  @media (min-width: $desktop-width) {
    height: 61px;
    width: 235px;
  }
}

.price__description-text--hidden {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__description-text {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    text-transform: none;
  }
}


.price__description-image {
  margin-right: 16px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.price__number {
  background-color: $darkgrey;
}

.price__number-tariff {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
}

.price__number-cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
}

.price__number--blank {
  background-color: transparent;
  border: none;
}

.price__item-hit {
  position: relative;
}

.price__item-hit::before {
  content: "";
  position: absolute;
  background-image: url(../img/hit-ribbon.png);
  width: 74px;
  height: 74px;
  left: 2px;
  top: 2px;

	@media (min-width: $tablet-width) {
		background-image: url(../img/hit-ribbon-tablet.png);
  	width: 61px;
  	height: 61px;
	}

	@media (min-width: $desktop-width) {
		background-image: url(../img/hit-ribbon.png);
		width: 74px;
		height: 74px;
	}
}

.reviews__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
