// Range

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid $darkgrey;
  width: 240px;
  height: 2px;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: $white;
  width: 14px;
  height: 14px;
  border: 2px solid $pink;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background: $white;
  width: 14px;
  height: 14px;
  border: 2px solid $pink;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  border: 1px solid $darkgrey;
  width: 240px;
  height: 2px;
  outline: none;
}
