// Range
.post__input {
    -webkit-appearance: none;
    border: 1px solid $darkgrey;
    width: 240px;
    height: 2px;
    outline: none;
    @media (min-width: $tablet-width) {
        width: 202px;
        transform: translate(10px);
    }
    @media (min-width: $desktop-width) {
        width: 288px;
    }
}

.post__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $white;
    width: 14px;
    height: 14px;
    border: 2px solid $pink;
    border-radius: 50%;
    cursor: pointer;
}

.post__input::-webkit-slider-thumb:active {
    background-color: $pink;
}

.post__input::-moz-range-thumb {
    -moz-appearance: none;
    background: $white;
    width: 14px;
    height: 14px;
    border: 2px solid $pink;
    border-radius: 50%;
    cursor: pointer;
}

.post__input::-moz-range-track {
    -moz-appearance: none;
    border: 1px solid $darkgrey;
    width: 240px;
    height: 2px;
    outline: none;
}
