// reviews__slider
.reviews__slider-item {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        max-width: 620px;
    }
    @media (min-width: $desktop-width) {
        max-width: 688px;
        margin: 0 auto;
    }
}

.reviews__slider-item::after {
    @media (min-width: $desktop-width) {
        content: "";
        background-image: url(../img/right-arrow.svg);
        display: block;
        width: 22px;
        height: 41px;
        position: absolute;
        right: -130px;
        top: 30px;
        cursor: pointer;
    }
}

.reviews__slider-item:hover::after,
.reviews__slider-item:hover::before {
    opacity: 0.6;
    transition: all .3s ease;
}

.reviews__slider-item::before {
    @media (min-width: $desktop-width) {
        content: "";
        background-image: url(../img/left-arrow.svg);
        display: block;
        width: 22px;
        height: 41px;
        position: absolute;
        left: -130px;
        top: 30px;
        cursor: pointer;
    }
}

.reviews__slider-item-hidden {
    display: none;
}

.reviews__slider-toggles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    @media (min-width: $desktop-width) {
        display: none;
    }
}

.reviews__slider-toggle {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    padding: 0;
    border: none;
    background-color: $borderLightgrey;
    margin-right: 19px;
}

.reviews__slider-toggle:last-child {
    margin-right: 0;
}

.reviews__slider-toggle:hover {
    background-color: #7e868f;
}

.reviews__slider-toggle:active {
    background-color: #eaebec;
}

.reviews__slider-toggle--current,
.reviews__slider-toggle--current:hover,
.reviews__slider-toggle--current:active {
    background-color: $borderLightgrey;
    border: 3px solid $darkgrey;
    width: 12px;
    height: 12px;
}

.reviews__slider-toggle--current-light,
.reviews__slider-toggle--current-ligh:hover,
.reviews__slider-toggle--current-ligh:active {
    background-color: $white;
}
