// Colors

$black: #000000;
$darkgrey: #283645;
$lightgrey: #F2F2F2;
$white: #FFFFFF;
$pink: #D22856;
$bg-grey: #1D2631;
$borderGrey: #E5E5E5;
$bgButton: #2AAB6D;
$borderLightgrey: rgba(40, 54, 69, 0.1);
$bg-header: rgba(0, 0, 0, 0.3);

$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
